[Unit]
Description=Esecuzione dello script personalizzato dopo avvio della rete
After=network.target network-online.target
Wants=network-online.target
[Service]
Type=oneshot
ExecStart=/usr/local/bin/notify.sh
RemainAfterExit=true
ExecStartPre=/bin/sleep 20
[Install]
WantedBy=multi-user.target
