[Unit]
Description=Esecuzione dello script personalizzato dopo l'avvio della rete
After=network-online.target
Wants=network-online.target
[Service]
Type=oneshot
ExecStart=/usr/local/bin/notify.sh
RemainAfterExit=true
[Install]
WantedBy=multi-user.target
